<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.jma.iman"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>
    <permission android:name="net.jma.iman.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="net.jma.iman.permission.C2D_MESSAGE"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />    
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>    
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="net.jma.iman.Iman" >
        <activity android:name=".activityLogin" android:theme="@style/estilo_general"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".activityRegistro" android:theme="@style/estilo_general" android:noHistory="true"></activity>
		<activity android:name=".activityPrincipal" android:theme="@style/estilo_general"></activity>
		<activity android:name=".activityNuevaLista" android:theme="@style/estilo_general"></activity>
		<activity android:name=".activityLista" android:theme="@style/estilo_general"></activity>
		<activity android:name=".activityNuevaCategoria" android:theme="@style/estilo_general"></activity>
		<activity android:name=".activityCompartirLista" android:theme="@style/estilo_general"></activity>	
		
		<receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
        	android:permission="com.google.android.c2dm.permission.SEND" >
	        <intent-filter>
	            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
	            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
	            <category android:name="net.jma.iman" />
	        </intent-filter>
    	</receiver>
 
    	<service android:name=".GCMIntentService" />
    			
    </application>
</manifest>